// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.equip-font{
  font-size: 1.5rem;
  color: #FFF;
  text-shadow: 1px 1px 0 #404040, -1px -1px 0 #404040, -1px 1px 0 #404040, 1px -1px 0 #404040, 0px 1px 0 #404040,  0-1px 0 #404040, -1px 0 0 #404040, 1px 0 0 #404040;
};
  
.equip-augment {
  font-size: 1.5rem;
  color: #FFFF00;
  text-shadow: 1px 1px 0 #404040, -1px -1px 0 #404040, -1px 1px 0 #404040, 1px -1px 0 #404040, 0px 1px 0 #404040,  0-1px 0 #404040, -1px 0 0 #404040, 1px 0 0 #404040;
};

.bg-color {
  background-color: #010856
}
